@model bleemsMVC.Models.Product


<div id="hiddivadd" style="display:none">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title"> Fill Appointment Information </h3>
        </div>
        <div class="card-body">

            <form asp-action="Create"  enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>




                      
                      
                      

                    </div>




                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>




                    <div class="col-2">
                          <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                          <div class="form-group">
                            <label asp-for="contractdoc" class="control-label"></label>
                            <input asp-for="contractdoc" class="form-control" id = "customfile"  />
                            <span asp-validation-for="contractdoc" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                          <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                            <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>

                    

                </div>



                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary " />
                        </div>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-bg btn-warning " onclick="hidedivs1()"> Cancel </a>
                    </div>
                </div>





            </form>





        </div>


    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <script>
        var hidedivs1 = function() {

            hiddivadd.style.display = 'none';
        };



    </script>